@using Microsoft.AspNetCore.Identity
@using gybitg.Models
@using Microsoft.AspNetCore.Mvc
@using gybitg.Views
@using gybitg.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model gybitg.Models.AthleteStats

<div>
    <h3>Stats</h3>
    @if (Model.UserId == (string)UserManager.GetUserId(User))
    {
        @Html.ActionLink("Edit Stats", "EditAthleteStats", "Manage", new { id = Model.UserId });
    }

    <hr />
    <dl class="d2-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PPG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PPG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RPG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RPG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.APG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.APG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MPG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MPG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FGAG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FGAG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FGMG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FGMG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FGG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FGG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FTAG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FTAG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FTMG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FTMG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FTP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FTP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TPAG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TPAG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TPMG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TPMG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TPP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TPP)
        </dd>
    </dl>
</div>
