@using Microsoft.AspNetCore.Identity
@using gybitg.Models
@using Microsoft.AspNetCore.Mvc
@using gybitg.Views
@using gybitg.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model gybitg.Models.AthleteStats

<div>
    <!--@if (Model.UserId == (string)UserManager.GetUserId(User))
    {
        @Html.ActionLink("Edit Stats", "EditAthleteStats", "Manage", new { id = Model.UserId });
    }-->

    <dl class="d2-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PPG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PPG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RPG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RPG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.APG)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.APG)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GS)
        </dd>
       
    </dl>
</div>
