@using Microsoft.AspNetCore.Identity
@using gybitg.Models
@using Microsoft.AspNetCore.Mvc
@using gybitg.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext _context

@{
    var _requestedProfileId = (string)ViewData["RequestedProfileId"];

    var _user = UserManager.Users.SingleOrDefault(m => m.Id == _requestedProfileId); // grab the desired User entity

    // convert a byte[] to use in a <img> tag
    //var base64 = Convert.ToBase64String(_user.AvatarImage);
    //var avatarSrc = String.Format("data:image/gif;base64,{0}", base64);


    if (await UserManager.IsInRoleAsync(_user, "Athlete")) // if User is Athlete: load the Athlete profile and stats partial views
    {
        var _athleteProfile = _context.AthleteProfiles.SingleOrDefault(m => m.UserId == _requestedProfileId);
        var _athleteStats = _context.Stats.SingleOrDefault(m => m.UserId == _requestedProfileId);


        <div style="display:inline-block; padding-top: 20px;">
            <img src="~/@_user.AvatarImageUrl" width="200" height="200" />
            <p style="display:inline-grid">
                <text style="font-size: x-large; font-weight: bold">@_user.FullName</text>
                <br />
                @_user.Position
                <br />
                Class of @_athleteProfile.HSGraduationDate.Year
        </div>

        <center>
            <div class="row dl-horizontal">
                <div class="col-md-6">
                    @await Html.PartialAsync("_AthleteProfilePartial", _athleteProfile)
                </div>
                <div class="col-md-6">
                    @if (_athleteStats != null)
                    {
                        await Html.PartialAsync("_AthleteStatsPartial", _athleteStats);
                    }
                    else
                    {
                        <h3>Stats</h3>
                        @if (Model.UserId == (string)UserManager.GetUserId(User))
                        {
                            @Html.ActionLink("Add Game", "GameStats", "Manage");
                        }
                        <br />
                        <hr />
                        <span>User hasn't uploaded any game stats yet.</span><br />
                    }
                </div>
            </div>
        </center>

    }
    else if (await UserManager.IsInRoleAsync(_user, "Coach")) // if User is Coach: load the Coach profile partial view
    {
        var _coachProfile = _context.CoachProfiles.SingleOrDefault(m => m.UserId == _requestedProfileId);

        <div style="display:inline-block; padding-top: 20px;">
            <img src="~/@_user.AvatarImageUrl" width="200" height="200" />
            <p style="display:inline-grid">
                <text style="font-size: x-large; font-weight: bold">@_user.FullName</text>
                <br />
                @_user.Position for @_coachProfile.YearsCoaching years at @_coachProfile.AAUId
        </div>

        <center>
            <div class="row dl-horizontal">
                <div class="col-md-6">
                    @await Html.PartialAsync("_CoachProfilePartial", _coachProfile)
                </div>
            </div>
        </center>
    }
}
