@model IEnumerable<gybitg.Models.Stat>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfEntry)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Points)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rebounds)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Assists)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Steals)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Blocks)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MinutesPlayed)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfEntry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rebounds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assists)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Steals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Blocks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinutesPlayed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
